*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.main{
    position: relative;
    display: grid;
}
.main .page_up{
    background: #7180e050;
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 999;
    color: #fff;
    height: 38px;
    width: 44px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.main .page_up:hover{
    background: #717fe0;

}
.main .nav_container{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 84px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    transition: 0.3s ease-in;
}
.main .nav_container.sticky{
    background: #222;
    border-bottom: 0;
    height: 70px;
}




.main .nav_container .nav_wrapper{
    /* margin: 0 45px  */
    height: 100%;
    display: flex;
    align-items: center;

}

.main .nav_container .nav_wrapper .logo{
    /* margin-right: 64px; */
    margin: 0px 64px  0px 45px;
}
.shop.nav_container .nav_wrapper .logo h3{
    color: #000 !important;
}
.main .nav_container .nav_wrapper .logo h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.main .nav_container .nav_wrapper .logo h3 span{
    font-weight: 900;
    /* font-style: italic; */
}


.main .nav_container .nav_wrapper .list{
    flex: 1;
    display: flex;
    align-items: center;
}
.main .nav_container .nav_wrapper .list li{
    list-style: none;
    margin-right: 28px;

}
.main .shop.nav_container .nav_wrapper .list li a{
    color: #000 !important;    
}
.main .nav_container .nav_wrapper .list li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s ease-in-out;
}
.main .nav_container .nav_wrapper .list li:hover a{
    color: #545DA5;
}

.main .nav_container .nav_wrapper .cart{
    height: 100%;
    padding: 0 35px;
    display: flex;
    place-items: center;
     border-left: 1px solid rgba(255, 255, 255, 0.103);
}
.main .nav_container .nav_wrapper .cart i{
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.main .nav_container .nav_wrapper .cart i:hover{
    color: #545DA5;
}
.main .nav_container .nav_wrapper .burger_bar{
    height: 100%;
    padding: 0 35px;
    display: flex;
    place-items: center;
     border-left: 1px solid rgba(255, 255, 255, 0.103);
     display: none;
}
.main .nav_container .nav_wrapper .burger_bar i{
    font-size: 25px;
}

/* landing page */
.main .landing_page{
    height: 100vh;
    position: relative;
}
.main .landing_page .slide{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}
.main .landing_page .slide.active{
    /* display: block; */
}

.main .landing_page .landing_opacity{
    background: rgba(0,0,0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.main .landing_page .landing_opacity .landing_content{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .landing_page .landing_opacity .landing_content .hero_content_wrapper{
    
}
.main .landing_page .landing_opacity .landing_content .hero_content_wrapper .hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    display: none;
}
.main .landing_page .landing_opacity .landing_content .hero_content_wrapper .hero_content h6{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
}
.main .landing_page .landing_opacity .landing_content .hero_content_wrapper .hero_content h3{
    font-size: 55px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;

}
.main .landing_page .landing_opacity .landing_content .hero_content_wrapper .hero_content button{ 
    width: 160px;
    height: 46px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #717fe0;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.main .landing_page .landing_opacity .landing_content .hero_content_wrapper .hero_content button:hover{
    background: #fff;
    color: #545DA5;
}
.main .landing_page .landing_opacity .landing_content .image_choices{
    display: grid;
    grid-auto-flow: column;
    /* grid-gap:3px; */
}
.main .landing_page .landing_opacity .landing_content .image_choices li{
    list-style: none;
    position: relative;
    cursor: pointer;
}
.main .landing_page .landing_opacity .landing_content .image_choices li .choose_img{
    height: 100%;
    width: 190px;
}

.main .landing_page .landing_opacity .landing_content .image_choices li span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.5);
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.main .landing_page .landing_opacity .landing_content .image_choices li:hover span{
    visibility: visible;
    opacity: 1;
}


/* products-style */
.main .products_style{
    /* height: 40vh; */
}
.main .products_style .products_style_wrapper{
    height: 100%;
    background: rgb(216, 216, 216);
    display: flex;

}
.main .products_style .products_style_wrapper .card{
    height: 100%;
    border-bottom: 1px solid rgb(216, 216, 216);
    position: relative;
    cursor: pointer;
    display: grid;
}


.main .products_style .products_style_wrapper .card img{
    height: 100%;
    width: 100%;

}
.main .products_style .products_style_wrapper .card .card_outer_content{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 40px;
}
.main .products_style .products_style_wrapper .card .card_content h3,
.main .products_style .products_style_wrapper .card .card_outer_content h3{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(41, 41, 41);
    margin-bottom: 3px;
}

.main .products_style .products_style_wrapper .card .card_content p,
.main .products_style .products_style_wrapper .card .card_outer_content p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgb(97, 97, 97);
}
.main .products_style .products_style_wrapper .card .card_content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #545da5c2;
    visibility: hidden;
    opacity: 0;
    
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    z-index: 9;
    transition: 0.3s ease-in-out;
}
.main .products_style .products_style_wrapper .card:hover .card_content{
    visibility: visible;
    opacity: 1;
}

.main .products_style .products_style_wrapper .card .card_content h3,
.main .products_style .products_style_wrapper .card .card_content p{
    color: #fff;
}
.main .products_style .products_style_wrapper .card .card_content p{
    flex: 1;
}
.main .products_style .products_style_wrapper .card .card_content .button_animate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main .products_style .products_style_wrapper .card .card_content .button_animate .shop_now{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    transform: scale(0,0);
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.main .products_style .products_style_wrapper .card .card_content .button_animate div:nth-child(2){
    width: 0;
    height: 2px;
    background: #fff;
    margin-top: 5px;
    transition: 0.5s ease-in-out;
}
.main .products_style .products_style_wrapper .card:hover .card_content .button_animate .shop_now{
    transform: scale(1,1);
}

.main .products_style .products_style_wrapper .card:hover .card_content .button_animate div:nth-child(2){

    width: 100%;

}

/* store preview */

.store_overview{
    /* background: red; */
    padding: 90px 0 0 0;
}

.store_overview .so_wrapper{
    height: 100%;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}
.store_overview .so_wrapper h3{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(34, 34, 34);
}

.store_overview .so_wrapper .so_tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 70px;
}
.store_overview .so_wrapper .so_tabs li:nth-child(1){
    margin: 0;
}
.store_overview .so_wrapper .so_tabs li{
    list-style: none;
    margin-left: 40px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    /* color: #333; */
    color: #797979;
    border-bottom: 1px solid #fff;
    transition: 0.3s ease-in-out;
}
.store_overview .so_wrapper .so_tabs li:hover{

    border-bottom: 1px solid #797979; /* added property */
    color: #333;
}

.store_overview .so_wrapper .so_tabs li.so_active{
    border-bottom: 1px solid #797979;
    color: #333;
}
.store_overview .so_wrapper .so-tab-content{
    width: 100%;
    position: relative;
    height: auto;
}

.store_overview .so_wrapper .so-tab-content .so_content{
    display: none;
    /* animation: fadeout 0.5s ease-out; */
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active{
    display: block;
    animation: fadein 0.5s ease-out ;
   
}
@keyframes fadein {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.store_overview .so_wrapper .so-tab-content .so_content.so_active{
display: grid;
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card{
 /* height: 370px; */
 /* width: 340px; */
 /* width: auto; */
 display: grid;
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_img{
    /* height: 380px;
    min-height: 300px; */
    width: 100%;
    overflow: hidden;
    position: relative;
}   
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_img img{
     /* width: 100%; */
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_img .so_view{
    position: absolute;
    /* bottom: 20px; */
    bottom: -50px;
    left: 50%;
    transform: translate(-50%,0);
    font-family: 'Poppins', sans-serif;
    background: #fff;
    border-radius: 100px;
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #666;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_img .so_view:hover{
    background: #212529;
    color: #fff;
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_img img{
    height: 100%;
    width: 100%;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_img:hover img{
    transform: scale(1.1,1.1);
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_img:hover .so_view{
    bottom: 20px;
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_content{
    display: flex;
    /* background: pink; */
    padding: 12px 0;
    text-align: left;
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_content .so_l_content{
    flex: 1;
    font-family: 'Poppins', sans-serif;
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_content .so_l_content p{
    color: #999;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_content .so_l_content span{
    color: #666;
    font-size: 15px;
}
.store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card .so_card_content i{
    color: rgb(197, 197, 197);
    font-size: 20px;
}



.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next{
    margin-right: -70px;
    color: gray !important;
    top: 40% !important;
  }
  .swiper-button-prev{
    margin-left: -70px;
    color: gray !important;
    top: 40% !important; 
}


.swiper {
    max-width: 1338px !important;
    /* width: 89%; */
    width: 100%;
    height: 100%;

}
.swiper-wrapper {
    align-items: flex-start !important;
}


/* blogs */
.blogs{
    padding-top: 60px;
    padding-bottom: 90px;
}
.blogs h3{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(34, 34, 34);
    padding-bottom: 50px;
}

.blogs .blogs_wrapper{
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    column-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15px;
}
.blogs .blogs_wrapper .card{
    display: grid;
}
.blogs .blogs_wrapper .card .img_blog_wrapper{
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    overflow-y: hidden;

}
.blogs .blogs_wrapper .card img{
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
}
.blogs .blogs_wrapper .card .img_blog_wrapper:hover img{
    transform: scale(1.1);
}

.blogs .blogs_wrapper .card p{
    color: #999;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding-bottom: 18px;
    padding-top: 16px;
}
.blogs .blogs_wrapper .card p > span{
    color: #000;
}
.blogs .blogs_wrapper .card h4{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-bottom: 15px;
    color: #333;
}
.blogs .blogs_wrapper .card p:nth-child(4){
    font-size: 14px;
    padding-top: 0;
}


/* footer */
.main .footer{
    background: #222;
    padding-top: 60px;
    padding-bottom: 40px;
}
.main .footer .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    color: #888;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.main .footer .copyright .name{
    color: #007bff;
}
.main .footer .footer_wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    /* flex */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: column;
    grid-gap: 30px;
}
.main .footer .footer_wrapper .footer_content h3{
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
.main .footer .footer_wrapper .footer_content span,
.main .footer .footer_wrapper .footer_content p{
    color: #b2b2b2;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.main .footer .footer_wrapper .footer_content p{
    /* width: 90%; */
    line-height: 28px;
}
.main .footer .footer_wrapper .footer_content .categ{   
    display: grid;
    grid-auto-rows: 30px;
    row-gap: 8px;
    align-items: center;
}
.main .footer .footer_wrapper .footer_content.newsletter input{
    outline: none;
    border: none;
    background: none;
    color: #b2b2b2;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}
.main .footer .footer_wrapper .footer_content.newsletter input:focus + .border span{
    width: 100%;
}
.main .footer .footer_wrapper .footer_content.newsletter .border{
    display: block;
    height: 2px;
    background: gray;
    width: 100%;
    position: relative;
    transition: 0.3s ease;    
}
.main .footer .footer_wrapper .footer_content.newsletter .border span{
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 0;
    background: #717fe0;
    transform: translate(0, -50%);
    transition: 0.3s ease;
}
.main .footer .footer_wrapper .footer_content.newsletter input:placeholder-shown{
    color: #b2b2b2;
}
.main .footer .footer_wrapper .footer_content.newsletter input::-webkit-input-placeholder{
    color: #b2b2b2;
}
.main .footer .footer_wrapper .footer_content.newsletter button{
    background: #717fe0;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 170px;
    height: 45px;
    border-radius: 100px;
    margin-top:20px;
}
  @media screen and (max-width: 1600px){
      /* swiper */
    .store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card img{
        height: auto;
        min-height: 220px;
        /* max-width: 270px; */
        width: 100%;
    }
    .swiper-button-next{
        margin-right: 20px;
    }
    .swiper-button-prev{
        margin-left: 20px;
    }
    
    .swiper {
        max-width: 1197px !important;
        /* width: 89%; */
        width: 100%;
        height: 100%;
        padding: 0 20px !important;
    }
    
    /* blogs */
    .blogs .blogs_wrapper{
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: column;
        column-gap: 25px;
        /* grid-template-columns: repeat(3, minmax(250px, 100%)); */
    }
}

@media screen and (max-width: 991px){
    /* product style section */
    .main .products_style .products_style_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .main .products_style .products_style_wrapper .card:nth-child(1){
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .main .products_style .products_style_wrapper .card:nth-child(2){
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .main .products_style .products_style_wrapper .card:nth-child(3){
        height: 100%;
        border-bottom: 1px solid rgb(216, 216, 216);
        position: relative;
        cursor: pointer;
        grid-column: 2/4;
        grid-row: 2/3;
    }
        /* swiper */
        .store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card img{
        
            max-width: 100%;
            width: 100%;
        }

    /* nav */
    .main .nav_container{
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 84px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.103);
        background: #fff;
    }
    .main .nav_container.sticky{
        background: #fff;
    }
    .main .nav_container .nav_wrapper{
        /* margin: 0 20px; */
        position: relative;
    }
    .main .nav_container .nav_wrapper .logo h3{
        color: #000;
    }
    .main .nav_container .nav_wrapper .logo{
        margin-right: 0px;
        margin-left: 20px;
        flex: 1;
    }
    .main .nav_container .nav_wrapper .cart{
        height: 100%;
        padding: 0 0px;
        display: flex;
        place-items: center;
         border-left: 1px solid rgba(255, 255, 255, 0.103);
    }
    .main .nav_container .nav_wrapper .cart i{
        color: #000;
        font-size: 23px;
    }
    .main .nav_container .nav_wrapper .burger_bar{
        padding: 0;
        margin-left: 30px;
        margin-right: 20px;
         display: flex;
    }
    .main .nav_container .nav_wrapper .burger_bar .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #000;
        display: block;
        cursor: pointer;
    }
    #burger_trigger{
        cursor: pointer;
    }
    #burger_trigger.active .bar:nth-child(2){
        opacity: 0;
    }

    #burger_trigger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #burger_trigger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .main .nav_container .nav_wrapper .list{
        position: absolute;
        left: 0;
        width: 100%;
        height: 0px;

        top: 100%;
        background: #fff;
        flex: 1;
        display: grid;
        grid-template-rows: repeat(6, 40px);
        /* padding-bottom: 10px; */
        align-items: center;
        transition:  0.3s ease;
        overflow: hidden;
    }
    .main .nav_container .nav_wrapper .list.active{
        height: 254px;
    }

    .main .nav_container .nav_wrapper .list li{
        margin-right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        display: none;
    }
    .main .nav_container .nav_wrapper .list.active li{
        display: block;
    }    
    .main .nav_container .nav_wrapper .list li a{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #000;
        transition: color 0.3s ease;
    }
    .main .nav_container .nav_wrapper .list li:hover a{
        color: #545DA5;
    }


    /* footer */
    .main .footer .footer_wrapper{
        max-width: 1350px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        /* flex */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        grid-gap: 50px;
    }
    .main .footer .footer_wrapper .footer_content.categories{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .main .footer .footer_wrapper .footer_content.help{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .main .footer .footer_wrapper .footer_content.touch{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .main .footer .footer_wrapper .footer_content.touch p{
        width: 70%;
    }
    .main .footer .footer_wrapper .footer_content.newsletter{
        grid-column: 2/3;
        grid-row: 2/3;
    }
}
@media screen and (max-width: 767px){
    .main .products_style .products_style_wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
    }
    .main .products_style .products_style_wrapper .card:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .main .products_style .products_style_wrapper .card:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .main .products_style .products_style_wrapper .card:nth-child(3){
        grid-column: 1/2;
        grid-row: 3/4;
    }

    /* swiper */
    .store_overview .so_wrapper .so-tab-content .so_content.so_active .so_card img{
        height: auto;
        min-height: 220px;
        max-width: 100%;
        width: 100%;
    }
    /* blogs */

    .blogs .blogs_wrapper{
        max-width: 1350px;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: column;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 15px;
    }
    .blogs .blogs_wrapper .card{
        display: grid;
        padding-bottom:30px;
    }
}
@media screen and (max-width: 625px){
    /* landing page section */
    .main .landing_page .landing_opacity .landing_content .image_choices li .choose_img {
        height: 100%;
        width: 100%;
    }
    .main .landing_page .landing_opacity .landing_content {
        width: 90%;
        text-align: center;
    }
    .main .landing_page .landing_opacity .landing_content .hero_content_wrapper .hero_content h6 {
        font-size: 20px;
    }
    .main .landing_page .landing_opacity .landing_content .hero_content_wrapper .hero_content h3 {
        font-size: 40px;
    }
    .store_overview .so_wrapper .so_tabs li:nth-child(1){
        margin-bottom: 10px;
    }
    .store_overview .so_wrapper .so_tabs li{
        margin-left: 20px;
        margin-bottom: 10px;
        /* padding: 20px; */
    }
    .store_overview .so_wrapper .so_tabs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 40px;
        margin: 0 20px;
    }
}
@media screen and (max-width: 575px){
    .main .footer .footer_wrapper{
        max-width: 1350px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        /* flex */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-flow: column;
        grid-gap: 50px;
    }
    .main .footer .footer_wrapper .footer_content.categories{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .main .footer .footer_wrapper .footer_content.help{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .main .footer .footer_wrapper .footer_content.touch{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .main .footer .footer_wrapper .footer_content.touch p{
        width: 70%;
    }
    .main .footer .footer_wrapper .footer_content.newsletter{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    /* blogs */

    .blogs .blogs_wrapper{
        max-width: 1350px;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: row;
        column-gap: 25px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 0 15px;
    }
    .blogs .blogs_wrapper .card{
        display: grid;
        padding-bottom:30px;
    }
}
